.nav{
    font-size: 14px;
    
}
.nav a{
    color: lightseagreen;
    margin-left: 30px;
}
.nav a:hover{
    color: lightseagreen;
}
.image a {
    font-weight: bolder;
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    place-items: center;
    text-decoration: none;
    color: black;
    
}
.dropdown-menu li {
position: relative;
}
.dropdown-menu .dropdown-submenu {
display: none;
position: absolute;
left: 100%;
top: -7px;
}
.dropdown-menu .dropdown-submenu-left {
right: 100%;
left: auto;
}
.dropdown-menu > li:hover > .dropdown-submenu {
display: block;
}
.dropdown-item{
    top: -7px;
    
}
/* li{
    border: 1px solid green;
    background-color: green;
    display: grid;
    gap: .5px;

}
li a {
    color: white;
} */
.text-container {
    position: relative;
    height: 200px; /* Adjust as needed */
    display: flex;
    align-items: center;
    padding-left: 2rem; /* Space from the left edge */
  }

  .background-text {
    font-size: 7rem;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.05); /* Faded background text */
    position: absolute;
    top: 50%;
    left: 2rem;
    transform: translateY(-50%);
    z-index: 1;
  }

  .foreground-text {
    position: relative;
    z-index: 2;
    font-weight: bold;
    color: #333;
    margin-left: 50px;
  }

  /* next part */

  .service-box {
    background-color: #007A3D; /* Dark green */
    color: white;
    text-align: center;
    padding: .5rem 0.5rem;
    font-size: 1rem;
    font-weight: 500;
  }

  .service-box i {
    font-size: 1.2rem;
    display: block;
    margin-bottom: 5px;
    font-size: 24px;
  }

  .banner-container {
    position: relative;
    text-align: center;
    padding: 2rem 0;
    overflow: hidden;
  }

  .background-text {
    font-size: 7rem;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.05); /* Faded effect */
    position: absolute;
    top: 40%;
    /* left: 10%; */
    /* transform: translate(-50%, -50%); */
    white-space: nowrap;
    z-index: 1;
  }

  .foreground-text {
    position: relative;
    z-index: 2;
    font-weight: 700;
    color: #3a3a3a;
    font-size: 1.5rem;
    letter-spacing: 0.5px;
  }

  .underline {
    width: 30px;
    height: 3px;
    background-color: #007A3D;
    margin: 6px auto 0;
  }